*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.note{
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-top: 30px;
   
}

.wrapper{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

#main{
    width: 50%;
    height: 100vh;
    background-color: rgb(197, 234, 248);
    text-align: center;
    padding-top: 70px;
}

textarea{
    width: 60%;
    height: 150px;
    font-size: 20px;
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 4px rgb(103, 102, 102);
}

h3{
    text-align: center;
}