*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    text-align: center;
    background-color: lightblue;
    padding: 25px;
    position: relative;
}
#textarea{
    width: 40%;
    height: 160px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}
#btn{
    margin-top: 60px;
    padding: 8px 40px;
    background-color: red;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 10px;
}
#btn:hover{
    background-color: blue;
}
.testname h1{
    text-align: center;
    font-size: 35px;
}

.note{
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
}
.datamain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.para2{
    padding-top: 70px;
}

/* .span{
    font-size: 35px;
    position: absolute;
    left: 100px;
} */
.span2 {
    /* position: absolute; */
    top: 30px;
    right: 5px;
    cursor: pointer;
    font-size: 10px;
  }
  /* .datamain{
    position: relative;
    padding: 1rem;
  } */